/* Header */

#header {
    color: #491c00;
    font-size: 100px;
    font-weight: bolder;
    font-family: comic sans-serif;
}

.logo {
    width: 80px;
    height: auto;
}

/* Main */
body {
    font-family: Roboto, sans-serif;
    font-size: larger;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f6eee9;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settings {
    display: flex;
    justify-content: center;
}

#grid {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: auto;
    border: 5px;
    border-color: black;
}

/* Button design */

input[type='color'] {
    width: 70px;
    height: 70px;
    border: none;
    transition: transform 0.2s ease-in-out;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input:hover {
    transform: scale(1.05);
}

button {
    margin: 5px;
    padding: 1px 15px;
    font-weight: bold;
    font-size: 20px;
    color: #491c00;
    background-color: white;
    border-color: #491c00;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.clicked,
button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #491c00;
    transform: scale(1.05);
}

/* Inside grid */
.row {
    display: flex;
}

.column {
    background-color: white;
    cursor: pointer;
}


/* Footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eadbdd;
    height: 60px;
    flex-shrink: 0;
}

img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    transition: transform 0.2s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}